/* styles.css */
h1 {
  font-family: "Calibri", sans-serif;
  color: purple;
}

.person .leg,
.person .torso,
.person .arm,
.person .head {
  fill: lightgoldenrodyellow;           /* hollow inside */
  stroke: purple;       /* purple outline */
  stroke-width: 2px;
}

.person .leg-line {
  stroke: purple;       /* same purple for the leg divider */
  stroke-width: 2px;
}
